<!DOCTYPE html>
<html>
  <head>
      <title>ToDo list</title>
  </head>
  <body>
      <h1>Tasks</h1>
      <u1>
        {% for task in tasks %}
            <li> {{ task }} </li>
        {% endfor %}
      </u1>
  </body>
</html>
